body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 80%;
  margin: 10px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
}

.element {
  margin: 1px;
  border-radius: 20%;
}

.legend {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.legend-item {
  display: flex;
  align-items: center;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
}